@charset "utf-8";
// 文章標題
h1.title,
h2.title {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.5em 0;
}
// .tt{ color: #222; }
.cp {
  .pic {
    float: left;
    margin: 0px 2em 2em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    overflow: hidden;
    padding: 0;
    position: relative;
    img {
      float: none;
      width: 100%;
      margin: 0 0 10px;
      display: block;
    }
    span {
      text-align: left;
      display: block;
      font-size: 1em;
      color: $secondaryColor;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
    a {
      height: 100%;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      display: block;
      &:focus {
        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          box-shadow: 0 0px 0px 3px $aFocus inset;
        }
      }
    }
  }
  table {
    margin: 0 auto 1em;
    width: 99%;
    line-height: 150%;
    border-collapse: collapse;
    background-color: #fff;
    border-top: 4px solid $primaryColor;
    tr {
      &:nth-child(even) {
        background-color: lighten($lightColor, 15);
      }
      &:hover {
        background-color: #fef9b6;
      }
    }
    th {
      background-color: #fff;
      color: #333;
      padding: 15px 12px;
      border: none;
      border-bottom: 1px solid #ccc;
    }
    th[scope='row'] {
      border-right: 1px solid #606261;
      width: 15%;
      background-color: transparent;
    }
    td {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 15px 12px;
    }
    &.noBorder {
      border-top: none;
      th,
      td {
        border: none;
      }
    }
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
  .publish_info {
    font-size: 0.875em;
    line-height: 1.5em;
    list-style: none;
    margin: 0 0 0.7em 0;
    padding: 0;
    @extend %clearfix;
    box-sizing: border-box;
    li {
      margin-bottom: 0.5em;
      margin-right: 2em;
      position: relative;
      display: inline-block;
      padding: 0 0 0 16px;
      font-size: 1.125em;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primaryColor;
        position: absolute;
        left: 0px;
        top: 8px;
      }
    }
  }
  .publish_info_down {
    font-size: 0.875em;
    clear: both;
    margin: 0px 0 20px;
    background: #e6e6e6;
    padding: 20px;
    border-radius: 5px;
    @extend %clearfix;
    box-sizing: border-box;
    li {
      margin-bottom: 0.5em;
      margin-right: 2em;
      position: relative;
      display: block;
      padding: 0 0 0 16px;
      font-size: 1.125em;
      em {
        font-style: normal;
        font-weight: normal;
        margin-left: 4px;
        color: $primaryColor;
      }
    }
  }
}
// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.375em;
    padding: 12px 15px 10px 15px;
    margin: 0.5em 0px 0.2em;
    background-color: #e6e6e6;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.42em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0em 1em;
          line-height: 1.5em;
          border-radius: 3px;
          min-width: 3.5em;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          &:hover,
          &:focus {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          &:hover,
          &:focus {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          &:hover,
          &:focus {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          &:hover,
          &:focus {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          &:hover,
          &:focus {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          &:hover,
          &:focus {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          &:hover,
          &:focus {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          &:hover,
          &:focus {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          &:hover,
          &:focus {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          &:hover,
          &:focus {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}
// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;
  h3 {
    font-size: 1.375em;
    padding: 12px 15px 10px 15px;
    margin: 0.5em 0px 0.2em;
    background-color: #e6e6e6;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0;
    border-bottom: solid 1px #ccc;
    margin: 0 !important;
    a {
      padding: 0.7em 0.5em 0.7em 2em;
      display: block;
      @include aSetting_nocolor;
      position: relative;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primaryColor;
        position: absolute;
        left: 10px;
        top: 22px;
      }
    }
  }
}
